openapi: "3.1.0"
info:
  version: 1.0.0
  title: Conference Sessions API
  description: API to fetch conference sessions with optional filters
servers:
  - url: https://api.conference.com/v1
paths:
  /sessions:
    get:
      summary: Fetch all sessions with optional filters
      operationId: getSessions
      tags:
        - sessions
      parameters:
        - name: eventName
          in: query
          description: Filter by event name
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Filter by date (YYYY-MM-DD format)
          required: false
          schema:
            type: string
            format: date
        - name: trackId
          in: query
          description: Filter by track ID
          required: false
          schema:
            type: integer
        - name: speakerId
          in: query
          description: Filter by speaker ID
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: A list of filtered sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Session:
      type: object
      required:
        - id
        - name
        - startTime
        - endTime
        - date
      properties:
        id:
          type: integer
        name:
          type: string
        startTime:
          type: string
          format: time
        endTime:
          type: string
          format: time
        date:
          type: string
          format: date
        location:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        sessionId:
          type: string
          nullable: true
        isVirtual:
          type: boolean
          default: false
        eventName:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        tracks:
          type: array
          items:
            $ref: "#/components/schemas/Track"
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/Speaker"
        subSessions:
          type: array
          items:
            $ref: "#/components/schemas/SubSession"
    Track:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
    Speaker:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
    SubSession:
      type: object
      required:
        - id
        - parentSessionId
        - name
      properties:
        id:
          type: integer
        parentSessionId:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/Speaker"
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
        message:
          type: string
